{% extends 'base.html.twig' %}

{% block title %}Ajouter une région{% endblock %}

{% block body %}
    <h1>Ajouter une région</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <div id="departements" data-prototype="{{ form_row(form.departements.vars.prototype)|e('html_attr') }}">
            {{ form_row(form.departements) }}
            <span></span>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        let collection, boutonAjout, span;
        window.onload = () => {
            collection = document.querySelector("#departements");
            span = collection.querySelector("span");

            // Créer btn "Ajouter un département"
            boutonAjout = document.createElement("button");
            boutonAjout.className = "ajout-departement btn secondary";
            boutonAjout.innerText = "Ajouter un département";

            // Rajouter btn au span vide
            let nouveauBouton = span.append(boutonAjout);

            // Rajouter longuer liste à la liste de departements avec data-index=0
            // dataset.index => data-index dans l'element
            collection.dataset.index = collection.querySelectorAll("input").length;

            // Ecouter click
            boutonAjout.addEventListener("click", function(){
                addButton(collection, nouveauBouton);
            });
        }

        function addButton(collection, nouveauBouton){
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;

            // prototype est une chaîne de caractères
            // ex: Transforme regions_departements___name__ en regions_departements_0, regions_departements_1 etc
            prototype = prototype.replace(/__name__/g, index);

            // Créer formulaire pour rajouter departement à la region
            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");

            // Créer btn "Supprimer"
            let boutonSuppr = document.createElement("button");
            boutonSuppr.type = "button";
            boutonSuppr.className = "btn red";
            boutonSuppr.id = "delete-departement-" + index;
            boutonSuppr.innerText = "Supprimer ce département";

            // Rajouter btn "Supprimer" au formulaire
            newForm.append(boutonSuppr);

            collection.dataset.index++;

            let boutonAjout = collection.querySelector(".ajout-departement");

            // Rajouter le nouveau formulaire avant le btn ajout
            span.insertBefore(newForm, boutonAjout);

            boutonSuppr.addEventListener("click", function(){
                this.previousElementSibling.parentElement.remove();
            })
        }

    </script>
{% endblock %}